$brandColorPrimary: #08424d;
$brandColorSeconday: #65665a;
$brandPadding: 12px;
@mixin standardPadding($value) {
  padding: $value;
}
body {
  header {
    color: $brandColorSeconday;
  }
  footer {
    color: $brandColorPrimary;
  }
  p {
    @include standardPadding($brandPadding);
    background-color: $brandColorSeconday;
    color: #ffffff;
  }
}
